# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


en.openfoodfacts.org.products.csv
food.parquet
openfoodfacts.db
duckdb_temp_storage_S96K-0.tmp
duckdb_temp_storage_S96K-1.tmp
duckdb_temp_storage_S96K-2.tmp
duckdb_temp_storage_DEFAULT-2.tmp
duckdb_temp_storage_DEFAULT-0.tmp
duckdb_temp_storage_DEFAULT-1.tmp
duckdb_temp_storage_S64K-1.tmp
duckdb_temp_storage_S64K-0.tmp
duckdb_temp_storage_S64K-2.tmp
duckdb_temp_storage_S64K-3.tmp
tmp_pack_QT5LIf
tmp_pack_ibm3d1
tmp_pack_4GuBIC
tmp_pack_IDLDbl
tmp_pack_QoeAVX
8be5cd8549e4dd7c92fbb5ea40d9a5782bbd0fe4
*.csv
*.parquet
*.m4a
*.sql